{
  "endOfLine": "lf",

  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "printWidth": 100
      }
    },

    {
      "files": "*.md",
      "options": {
        "printWidth": 60,
        "proseWrap": "always",
        "endOfLine": "lf"
      }
    }
  ]
}
