@import "@oruga-ui/oruga-next/dist/oruga.css";
@import "bulma/bulma.sass";
@import "@mdi/font/css/materialdesignicons.css";

.loading-overlay-background {
  background-color: rgba($color: $white, $alpha: 0.5);
}

@mixin input-icon($side) {
  .input-icon-#{$side} {
    margin-#{$side}: 0.5em;
  }
}

@include input-icon(left);
@include input-icon(right);

.modal-card {
  border-radius: 0.75em;
}

// Bulma provides no tooltip component
// Customizing the Oruga styles works fine
.tooltip {
  @extend .is-size-7;
  @extend .has-text-white;
  @extend .has-text-weight-normal;
  @extend .has-background-grey-dark;
  @extend .p-1;

  border-radius: 0.25em;

  &-arrow {
    @extend .has-text-grey-dark;
  }
}

// normally they're really wide in Bulma
.dropdown-menu {
  min-width: unset !important;
}
.dropdown .dropdown-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.o-drop__item--active {
  color: inherit;
  background-color: inherit;
}
